h1 {
    text-align: center;

    margin-bottom: 1rem;
    margin-top: 1rem;
    font-family: 'Lucida Console', 'Courier New', monospace;
}

.container-fluid {
    margin: 1rem;
    font-family: 'Lucida Console', 'Courier New', monospace;
}

.img-icon {
    width: 25px;
    margin: 10px;
}

#id_word_type {
    width: 100%;
}